    <!--<div class="panel panel-default">-->
    <!--    <div class="panel-footer">Panel footer</div>-->
    <!--</div>-->
    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    </body>
</html>