body { padding-top: 70px; }

#pacifco {
    font-family: "Pacifico";
}

#delete-form {
    display: inline;
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.myLinks a {
    color: #FFFFFF;
    text-decoration: none;
}

#myLinks1 {
    color: #FFFFFF;
    text-decoration: none;
}