body { padding-top: 70px; }

/*.jumbotron {*/
/*    margin-top:70px;*/
/*}*/

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.myLinks a {
    color: #FFFFFF;
    text-decoration: none;
}

#myLinks1 {
    color: #FFFFFF;
    text-decoration: none;
}